// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: rgb(14, 13, 13);
$light-gray: #030303;
$neon-green:#b9e769;
$neon-pink: #f038ff;
$neon-blue: #4cc9f0;