<form action="/memories/search" method="get">
          <div class="d-flex align-items-center">
            <input type="text" class="searchTerm" name="memory" value="<%= params[:memory] %>" placeholder="Find memories!">
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
          </button>
          </div>
        </form>
