
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Bring your fantasies to life with <strong>RE:Live</strong> experience the <strong>hottest new form of wish fulfillment</strong>!</h1>
    <p>Be anyone you want to be, for at least a day.</p>
    <%= link_to "View all memories", memories_path, class:"btn-gradient" %>
  </div>
</div>


