
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/drdoomsday/image/upload/v1606419895/busy_front.jpg
);">
    <%= render 'shared/searchbar' %>
    
</div>
  
  <div class="container">
    <h2>Bring your fantasies to life with <strong>RE:Live</strong> </h2>
    <p>Be anyone, anywhere, anytime. Our groundbreaking immersive technology will forever change the way experiences are made. Don't just live, RE:Live!
    </p>
    <%= link_to "View all memories", memories_path, class:"btn-green" %>
  </div>



