.navbar-lewagon {
  justify-content: space-between;
  /*background-color: $gray;*/
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  margin: 0;
  width: 100%;
  min-width: 1024px;
  background:$gray;
  font-size: 17px;
  position: sticky;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-nav {
  align-items: center;
}

#navbar {
  padding: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin-left: 25px;
}
.collapse {
  justify-content: right;
}

.nav-item {
  display: flex;
  align-items: right;
}
